<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
   <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    <div class="sidebar-nav-item">
    <a href="{{ site.baseurl }}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a href="{{ node.url }}">{{ node.title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
      {% endif %}
    {% endfor %}
    <a href="atom.xml" target="_blank">RSS</a><br/>
    </div>




    {% for post in site.posts %}
      <a class="sidebar-nav-item" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
